{% extends "base.html" %}

{% block content %}

  <h1>Lets Make an Elite Buggy</h1>
  
   <p>
    {{ msg }}
  </p>


  <form action="/new" method="post">

  <label for="id">ID:</label>
    <input type="text" name="id", value ="{{ buggy['id'] }}" />


    <p>
      <label for="power_type">Engine:</label>
      <select name="power_type" id="Engine">
        <option value="petrol">Petrol</option>
        <option value="fusion">Fusion</option>
        <option value="steam">Steam</option>
        <option value="bio">Bio</option>
        <option value="electric">Electric</option>
        <option value="rocket">Rocket</option>
        <option value="hamster">Hamster</option>
        <option value="thermo">Thermo</option>
        <option value="solar">Solar</option>
        <option value="wind">Wind</option>
      </select>
  <br><br>

     <p>
      <label for="aux_power_units">Number of Power Units:</label>
    <input type="text" name="aux_power_units", value ="{{ buggy['aux_power_units'] }}" />
    </p>

    <p>

    </p>

    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels", value ="{{ buggy['qty_wheels'] }}" />
    <p>

    </p>

    <label for="flag_color">Pick your Flag:</label>
    <input type="text" name="flag_color" />

       <label for="flag_color_secondary">Pick your Secondary Colour:</label>
    <input type="text" name="flag_color_secondary" />

    <p>

    </p>

    <p>
      <label for="flag_pattern"> Flag Pattern:</label>
      <select name="flag_pattern" id="Flag Pattern">
        <option   selected  value="plain">Plain</option>
        <option   selected  value="vstripe">Vertical Stripe</option>
        <option   selected  value="hstripe">Horizontal Stripe</option>
        <option   selected  value="dstripe">Diagonal Stripe</option>
        <option   selected  value="checker">Checker</option>
        <option   selected  value="spot">Spot</option>
      </select>
  <br><br>

    <p>
      <label for="tyres">Pick your tyres:</label>
      <select name="tyres" id="tyres">
        <option value="knobbly">Knobbly</option>
        <option value="slick">Slick</option>
        <option value="steelband">Steelband</option>
        <option value="reactive">Reactive</option>
        <option value="maglev">Maglev</option>
      </select>
  <br><br>

    <label for="qty_tyres">Number of Tyres:</label>
    <input type="text" name="qty_tyres", value ="{{ buggy['qty_tyres'] }}" />

<input type="submit" class="button">

  </form>
      
  

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
